<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LitReview</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/favicon.ico' %}">
</head>
<body>
    <header>
        <img src="{% static 'app/img/logo.png' %}" class="logo" alt="Logo LitReview" onclick="location.href= '{% url 'flux' %}'">
        <h1 class="title" onclick="location.href= '{% url 'flux' %}'">LitReview</h1>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>