{% extends 'app/home.html' %}
{% block content %}
    <form class="container center cc" method="post">
        <h2>Suivre d'autres utilisateurs</h2>
        {{ form.as_p }}
        {% csrf_token %}
        <button class="button" type="submit" >Envoyer</button>
    </form>
    <div class="container center cc">
        <h2>Abonnement</h2>
        {% for follow in follows %}
            <div>
                <p class="inline">{{ follow.followed_user.username}}</p>
                <a class="button" href="{% url 'unfollow' follow.id %}" data-method="delete">Se désabonner</a>
            </div>
        {% endfor %}
    </div>
    <div class="container center cc">
        <h2>Abonnés</h2>
        {% for follower in followers %}
            <p>{{ follower.user.username}}</p>
        {% endfor %}
    </div>
{% endblock %}