body {
    background-color: rgb(25,25,25);
    margin: 0px;
}

header {
    background-color: rgb(150,150,150);
    height: 60px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0vw 0.3vw 0.3vw black;
}

input {
    border-radius: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
	display: block;
}

/*---------------------- Styles du header ------------------------*/
.logo {
    position: relative;
    float: left;
    height: 95%;
    cursor: pointer;
}

.title {
    position: relative;
    float: left;
    display: flex;
    left: 36%;
    top: -10px;
    cursor: pointer;
}

.icon {
    position: relative;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 2px;
    padding-right: 2px;
    border: solid;
    border-left-color: rgb(50,50,50);
    border-bottom-color: rgb(75,75,75);
    border-right-color: rgb(100,100,100);
    border-top-color: rgb(125,125,125);
}

.icon:hover {
    transform: scale(0.95);
}

.logout {
    right: 0px;
}

.subscribe {
    right: 0px;
}
/*----------------------------------------------------------------*/

.container{
    position: relative;
    width: 43%;
    padding: 10px;
    background-color: rgb(150,150,150);
    border-radius: 5px;
    margin-top: 2%;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
    text-align: center;
}

.right {
   float: right;
   margin-right: 2%;
}

.left {
    float: left;
    margin-left: 2%;
}

.button {
    color: black;
    border: none;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
}

a.button {
   font-size: 16px;
}

button.button {
   font-size: 14px;
}

.button:hover {
    transform: scale(0.95);
}


.error {
    text-align: center;
    color: rgb(150,0,0);
}

