.container{
    position: relative;
    width: 43%;
    min-width: 450px;
    min-height: 265px;
    padding: 10px;
    background-color: rgb(150,150,150);
    border-radius: 5px;
    margin-top: 2%;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
}

.right {
   float: right;
   margin-right: 2%;
}

.left {
    float: left;
    margin-left: 2%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    position: relative;
    bottom: 0px;
}

.cc {
    /* centered content */
    text-align: center;
}

.button {
    color: black;
    border: none;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
}

a.button {
   font-size: 16px;
}

button.button {
   font-size: 14px;
}

.button:hover {
    transform: scale(0.95);
}


.error {
    text-align: center;
    color: rgb(150,0,0);
}

.errorlist {
    list-style: none;
    color: rgb(150,0,0);
}

.ticket {
    position: absolute;
    top: 65px;
    width: calc(9% + 130px);
}

.ticket.left {
    left: calc(36vw - 180px);
}

.ticket.right {
    left: calc(53vw + 35px);
}

.content{
    display: inline-block;
    float: right;
    width: 69%;
    min-height: 265px;
    border: solid 1px;
    background-color: rgb(180,180,180)
}

.date{
    font-size: 12px;
    font-style: italic;
}

.post {
    margin-top: 50px;
}

.sub_post{
    border: solid 1px;
    padding: 5px;
    margin: 20px;
    background-color: rgb(180,180,180);
}

.sub_post>.content{
    background-color: rgb(210,210,210);
}

.post>img,.sub_post>img {
    display: inline-block;
    max-width: 30%;
    max-height: 300px;
}

#id_description,#id_body{
    width: 400px;
    max-width: 90%;
    height: 100px;
    padding: 0;
}

#id_rating{
    width: 50px;
}

.checked{
    color: white;
}

.inline{
    display: inline-block;
}



