body {
    background-color: rgb(25,25,25);
    margin: 0px;
}

header {
    background-color: rgb(150,150,150);
    height: 60px;
    width: 100%;
    overflow: hidden;
}

h1 {
    color: white;
}

/*---------------------- Styles du header ------------------------*/
.logo {
   height: 95%;
}

.title {
    color: black;
    position: absolute;
    left: 46%;
    top: -10px;
}

.logout {
    position: absolute;
    right: 1%;
    top: 24px;
    text-decoration: none;
    color: black;
}

.logout:hover {
    color: rgb(30,30,30);
}
/*----------------------------------------------------------------*/

.container{
    position: relative;
    width: 43%;
    padding: 10px;
    background-color: rgb(150,150,150);
    border-radius: 5px;
    margin-top: 2%;
}

.right {
   float: right;
   margin-right: 2%;
}

.left {
    float: left;
    margin-left: 2%;
}
